#carouselExampleFade {
    width: 75%;
    margin: auto;
}
#carouselExampleIndicators {
    width: 20%;
    margin-top: 150px;
    margin-left: 100px;
}
.bodyindex {
        background-color: lightgray;
}
nav {
    height: 80px;
    border-bottom: black 1px solid;
    position: sticky;
    top: 0px;

}
.navbar-brand {
    margin-top: 13px;
}
.SignUpForm {
    width: 500px;
    margin: auto;
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 80px;
    background-image: url(VR_Logo.png);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position-x: 440px;
}
.imgHome {
    margin: auto;
}